
<section>
    <h2>Exercices de Mathématiques</h2>
    <ul>
        <% pdfFiles.forEach(file => { %>
            <li><a href="/exercices/<%= file %>"><%= file %></a></li>
        <% }) %>
    </ul>
</section>
